<div class="mt-5  ml-5 mr-5">
<form method="post">
  <div class="form-group">
    <label for="search-input">Tu khoa</label>
    <input type="text" name="q" class="form-control" id="search-input"placeholder="nhap tu khoa">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
